body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
header{
    height: 34px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    padding: 10px;
}
div{
    box-sizing: border-box;
}
p{
    margin-top: 7px;
    float: left;
    color: #2c2a2a;
}

nav {
    margin-top: 7px;
    float: right;
}
.heading_container{
    width: 100%;
    margin: 0 auto;
    
  }
.menu{
    padding: 0;
    margin: 0;
    display: block;
}
.menu li {
    float: left;
    display: block;
}
.menu a {
    float: left;
    display: block;
    margin-right: 18px;
    color: #3d3c3c;
}
.menu li button{
    background: white;
    border: 1px solid rgb(33, 110, 197);
    color: rgb(33, 110, 197);
    font-size: 13px;
    border-radius: 30px 20px 30px 20px;
}
.menu li button a{
    float:center;
    color: rgb(33, 110, 197);
}
li a{
    text-decoration: none;
    font-size: 13px;
}
h1{
    text-align: center;
    font-family: Thin;
    font-style: normal;
    font-weight: 400;  
    font-size:  38px;
    color: rgb(61, 57, 57);
}
.title{
    margin-left: 513px;
  margin-right: 400px;
  width: 520px;
    font-family: Roboto, ans-serif;
    text-align: center;
    color: rgb(97, 96, 93);
}
.content{
margin-top: 80px;
}
.boxes {
    margin-left: 430px;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  } 
.box {
    border: 1px solid lightgrey;
    width: calc((100% - 36px)/3);
    height: 1240px;
    margin: 25px;
    text-align: center;
  
  }
  
  h2{
  margin-top: 5px;
  margin-bottom: 5px;
    background: lightgrey;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: rgb(51, 48, 48);
    margin: 0px;
  
  }
  p1{
    line-height: 2.0;
    font-weight: bold;
  }
  p2{
    color: grey;
  }
  p3{
    font-weight: normal;
    font-size: 12px;
    line-height: 2.0;
  }
button[type="button1"] {

	border: 1px solid blue;

	background: white;

	color: blue;

	padding: 10px;

	font-size: 10px;

	border-radius: 5px;

	position: relative;

	box-sizing: border-box;

    width: 80%;

}

button[type="button1"]:hover {

  background: blue;

  color: white;

}

button[type="button2"] {

	border: 1px solid blue;

	background: blue;

	color: white;

	padding: 10px;

	font-size: 10px;

	border-radius: 5px;

	position: relative;

	box-sizing: border-box;

    width: 80%;

}
.box {

    border: 1px solid lightgrey;
  
    width: calc((100% - 36px)/3);
  
    height: 120px;
  
    margin: 5px;
  
    text-align: center;
  
  }

button[type="button2"]:hover {

  background: white;

  color: blue;

}

